<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Croa Online | Connection</title>
<!-- STYLES -->
<link rel="stylesheet" type="text/css" href="/css/screen.css">
<!-- JAVASCRIPTS -->
<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
</head>

<body>

<div id="wrap_connect">

	<div id="connecting_panel">
		<h2>Connexion au compte</h2>
		<div class="separator"></div>
		<form method="POST">
			<label for="login">Nom d'utilisateur</label>
			<input type="text" id="login" name="login" value="" />
			<label for="pwd">Mot de passe</label>
			<input type="password" id="pwd" name="pwd" value="" />
			<input type="submit" id="button_connect" class="button_connect" name="entrer-file" value="Jouer!" />
		</form>
		<div class="clear"></div>
		<div class="separator"></div>
	</div>

</div>

</body>
</html>